::selection {
    background-color: #5F5;
}
body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: center;
    container-type: inline-size;
    background-color: #FFF;
}
main {
    flex: 1;
    padding: 0 10vw;
    max-width: 900px;
    color: #111;
}
header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding: 10px 0;
    a, a:visited {
        text-decoration: none;
        color: inherit;
    }
}
header {
    border-bottom: 1px solid #111;
}
footer {
    border-top: 1px solid #111;
    margin-top: 80px;
}
/* @media (prefers-color-scheme: dark) {
    ::selection {
        color: #111;
    }
    body {
        background-color: #111;
    }
    main {
        color: #FFF;
    }
    header, footer {
        border-color: #FFF;
    }
} */