<footer id="footer">
    <div translate="no">
        All rights reserved. Copyright <span id="copyright-year">{{ site.time | date: "%Y" }}</span> Naufan Rusyda Faikar.
    </div>
    <script>
        document.getElementById("copyright-year").textContent = new Date().getFullYear();
    </script>

    <div class="menu">
        {%- assign page_url = page.url | relative_url | replace: '/', ' ' | split: ' ' | first | prepend: '/' | append: '/' | replace: '//', '/' -%}
        {% for item in site.data.navigation %}
            <a href="{{ item.link }}" {% if page_url == item.link %} class="selected" {% endif %}>
                {{ item.name }}
            </a>
        {% endfor %}

        <span>|</span>

        <a href="mailto:hello@naruaika.me">hello@naruaika.me</a>
        <a href="tel:+6282130003006">+62 821-3000-3006</a>

        <a href="https://www.linkedin.com/in/naruaika" rel="nofollow" translate="no">LinkedIn</a>
        <a href="https://github.com/naruaika/" rel="nofollow" translate="no">GitHub</a>
        <a href="https://www.youtube.com/@naruaika" rel="nofollow" translate="no">YouTube</a>
        <a href="https://stackoverflow.com/users/8791891/naufan-rusyda-faikar" rel="nofollow" translate="no">Stack Overflow</a>
        <a href="https://dev.to/naruaika" rel="nofollow" translate="no">DEV Community</a>
    </div>
</footer>