<nav id="navigation-bar">
    <a href="/"><img class="icon" src="/assets/images/favicon-invert-50x50.webp" alt="Website logo"></a>
    <div class="menu">
        {%- assign page_url = page.url | relative_url | replace: '/', ' ' | split: ' ' | first | prepend: '/' | append: '/' | replace: '//', '/' -%}
        {% for item in site.data.navigation %}
            <a href="{{ item.link }}" {% if page_url == item.link %} class="selected" {% endif %}>
                {{ item.name }}
            </a>
        {% endfor %}
    </div>
    {{  }}
</nav>