#navigation-bar {
    box-sizing: border-box;
    container-type: inline-size;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

    .icon {
        height: 50px;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 1.25rem;
        font-size: 1.2rem;

        a {
            color: #AAA;
            text-decoration: none;

            &:hover {
                color: #FFF;
            }

            &.selected {
                position: relative;
                color: #FFF;

                &::after {
                    content: '^';
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-align: center;
                    transform: scaleY(0.5);
                    opacity: 0;
                    animation: navbar-selection .15s ease-out;
                    animation-fill-mode: forwards;
                    animation-delay: .05s;
                }
            }
        }
    }
}

@keyframes navbar-selection {
    0% {
        top: 2rem;
    }
    100% {
        top: 1rem;
        opacity: 1;
    }
}

@media (width < 720px) {
    #navigation-bar .menu {
        gap: 1rem;
        font-size: 1.05rem;
    }
}