---
layout: default
title: Work
permalink: /work/
---
<style>
    main {
        container-type: inline-size;
        box-sizing: border-box;
        padding: 3.5rem 2rem;
        font-size: 1.4rem;
        line-height: 1.75;

        h1, h2 {
            box-sizing: border-box;
            margin: 0;
            margin-bottom: 3.5rem;
            display: inline-block;
            font-family: "DM Serif Display", serif;
            font-size: 2.5rem;
            line-height: 1.25;
        }

        h2 {
            margin-top: 7rem;
        }

        > ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 3.75rem;

            > li {
                display: flex;
                flex-direction: column;
                align-items: start;
                max-width: 800px;
                list-style: none;
            }
        }

        .time {
            padding: 0 .6rem;
            font-size: .8em;
            font-weight: 600;
            color: #222;
            background-color: #FFF;
        }

        .name {
            margin-block-start: .8rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.25;
        }

        .description {
            margin-block: .4rem;
            font-style: italic;
        }

        .responsibilities li {
            list-style: disc;
        }

        .grid {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            overflow: hidden;
            gap: 1.25rem;

            img {
                width: 100%;
                height: auto;
                background-color: #FFF;
            }

            .slider {
                width: 100%;
                height: 100%;
                position: relative;

                > .content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    background-color: #FFF;
                    overflow-x: scroll;
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                    scroll-snap-stop: always;
                    scroll-snap-type: x proximity;
                    overscroll-behavior-x: contain;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1;
                        background-color: #FFF;
                        scroll-snap-align: center;
                    }
                }

                > .icon {
                    position: absolute;
                    display: inline-flex;
                    right: 5px;
                    bottom: 5px;
                    padding: 5px;
                    background-color: #222;
                    border-radius: 50%;

                    svg {
                        height: 18px;
                        width: 18px;
                        fill: #FFF;
                    }
                }
            }
        }

        .square img {
            aspect-ratio: 1;
        }
    }

    @media (width < 1741px) {
        main > ul > li {
            max-width: 1060px;
        }
    }

    @media (width < 1400px) {
        main .grid {
            grid-template-columns: repeat(3, 1fr);
        }

        main .non-square {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (width < 1080px) {
        main .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (width < 720px) {
        main {
            padding-top: 0;
            font-size: 1.2rem;

            .grid {
                grid-template-columns: 1fr;
            }
        }
    }
</style>

<main>
    <h1>My Works</h1>
    <ul>
        {% for item in site.data.my-projects %}
            <li>
                <div class="time">
                    {{ item.time }}
                </div>
                <div class="name">
                    {{ item.name }}
                </div>
                <div class="description">
                    {{ item.description }}
                </div>
                <div class="responsibilities">
                    <span style="font-weight:500;">
                        Responsibilities:
                    </span>
                    <ul>
                        {% for item in item.responsibilities %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

    <h2>
        My Photos
    </h2>
    <div class="grid non-square">
        <img src="/assets/posts/naufan-rusyda-faikar-33szSvt_PNg-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/posts/naufan-rusyda-faikar-3vCEd_4U8Ow-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/posts/naufan-rusyda-faikar-Bi5iWHM2sYU-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/posts/naufan-rusyda-faikar-lvTcQ5P_t50-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/posts/naufan-rusyda-faikar-4gDmcuFS-gU-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/posts/naufan-rusyda-faikar-X_7SwNPbJTo-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/posts/naufan-rusyda-faikar-fnjScdIRZos-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/posts/naufan-rusyda-faikar-rMhRjXEAH1Y-unsplash.webp" alt="" loading="lazy">
    </div>

    <h2>
        My Designs
    </h2>
    <div class="grid square">
        <img src="/assets/posts/ef5f0a2a76638e9abaea0bb0dfa1c774.webp" alt="" loading="lazy">
        <img src="/assets/posts/b064dc73682b095405fae0f3eeb3ad2d.webp" alt="" loading="lazy">
        <img src="/assets/posts/f4d2314ec0a67cdaae713b1234ac4325.webp" alt="" loading="lazy">
        <img src="/assets/posts/feb998ea36ed324249fc6654f08231bc.webp" alt="" loading="lazy">
        <img src="/assets/posts/4072a91c9a1faca37470376c5333e0bd.webp" alt="" loading="lazy">
        <img src="/assets/posts/441af89e666d3a63b1926fc805320cbf.webp" alt="" loading="lazy">
        <div class="slider">
            <div class="content">
                <img src="/assets/posts/20241010C - S1.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010C - S2.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010C - S3.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010C - S4.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010C - S5.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010C - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/posts/20241010B - S1.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010B - S2.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010B - S3.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010B - S4.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010B - S5.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010B - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/posts/20241010A - S1.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010A - S2.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010A - S3.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010A - S4.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010A - S5.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241010A - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/posts/20241007C - S1.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007C - S2.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007C - S3.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007C - S4.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007C - S5.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007C - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/posts/20241007B - S1.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007B - S2.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007B - S3.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007B - S4.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007B - S5.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007B - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/posts/20241007A - S1.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007A - S2.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007A - S3.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007A - S4.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007A - S5.webp" alt="" loading="lazy">
                <img src="/assets/posts/20241007A - S6.webp" alt="" loading="lazy">
            </div>
        </div>
    </div>
</main>

<script>
    // Add slider icon
    const sliderIcon = document.createElement('div');
    sliderIcon.classList.add('icon');
    sliderIcon.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M264.5 5.2c14.9-6.9 32.1-6.9 47 0l218.6 101c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 149.8C37.4 145.8 32 137.3 32 128s5.4-17.9 13.9-21.8L264.5 5.2zM476.9 209.6l53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 277.8C37.4 273.8 32 265.3 32 256s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0l152-70.2zm-152 198.2l152-70.2 53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 405.8C37.4 401.8 32 393.3 32 384s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0z"/></svg>`;
    document.querySelectorAll('.slider').forEach(slider => {
        slider.append(sliderIcon.cloneNode(true));
    });
</script>