---
layout: default
title: Work
permalink: /work/
---
<style>
    main {
        container-type: inline-size;
        box-sizing: border-box;
        padding: 3.5rem 2rem;
        font-size: 1.4rem;
        line-height: 1.5;

        h1, h2 {
            box-sizing: border-box;
            margin: 0;
            margin-bottom: 3.5rem;
            font-family: "DM Serif Display", serif;
            font-size: 2.5rem;
            line-height: 1.25;
        }

        h2 {
            margin-top: 7rem;
        }

        :is(h1, h2) + .button {
            display: inline-block;
            margin-bottom: 3.5rem;
            padding: .75rem 1rem;
            font-weight: 800;
            line-height: 1.5rem;
            color: inherit;
            text-decoration: none;
            border: 3px solid #FFF;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: #FFF;
                color: #222;
            }
        }

        > ul {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3.75rem;

            > li {
                display: flex;
                flex-direction: column;
                align-items: start;
                max-width: 800px;
                list-style: none;
            }
        }

        .time {
            padding: 0 .6rem;
            font-size: .8em;
            font-weight: 600;
            color: #222;
            background-color: #FFF;
        }

        .name {
            margin-block-start: .8rem;
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.25;
        }

        .description {
            margin-block-start: 1rem;
            font-style: italic;
        }

        .responsibilities p {
            margin-block: 1rem;
        }

        .responsibilities li {
            list-style: disc;
        }

        .grid {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.25rem;

            img {
                width: 100%;
                height: auto;
                background-color: #FFF;
            }

            .slider {
                position: relative;

                > .content {
                    display: flex;
                    background-color: #FFF;
                    overflow-x: scroll;
                    scrollbar-width: none;
                    scroll-snap-stop: always;
                    scroll-snap-type: x mandatory;
                    overscroll-behavior-x: contain;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    img {
                        flex-shrink: 0;
                        aspect-ratio: 1;
                        scroll-snap-align: center;
                    }
                }

                > .icon {
                    box-sizing: border-box;
                    position: absolute;
                    display: inline-flex;
                    right: 10px;
                    bottom: -10px;
                    padding: 5px;
                    padding-left: 25px;
                    border: 2px solid #FFF;
                    background-color: #222;
                    cursor: pointer;

                    svg {
                        height: 18px;
                        width: 18px;
                        fill: #FFF;
                    }

                    &.previous-button {
                        right: 68px;
                    }

                    &:hover {
                        background-color: #FFF;

                        svg {
                            fill: #222;
                        }
                    }
                }
            }
        }

        .square img {
            aspect-ratio: 1;
        }
    }

    @media (width < 1741px) {
        main > ul > li {
            max-width: 1060px;
        }
    }

    @media (width < 1400px) {
        main > ul {
            grid-template-columns: 1fr;
        }

        main .grid {
            grid-template-columns: repeat(3, 1fr);
        }

        main .non-square {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (width < 1080px) {
        main .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (width < 720px) {
        main {
            padding-top: 0;
            font-size: 1.2rem;

            h1, h2 {
                font-size: 2rem;
                margin-bottom: 3rem;
            }

            .name {
                font-size: 1.4rem;
            }

            .grid {
                grid-template-columns: 1fr;
            }
        }
    }
</style>

<main>
    <h1>My Works</h1>
    <a href="/assets/works/Curriculum Vitae - Naufan Rusyda Faikar - 20250506.pdf" class="button">&raquo; Read my resume (PDF)</a>
    <ul>
        {% for item in site.data.my-projects %}
            <li>
                <div class="time">
                    {{ item.time }}
                </div>
                <div class="name">
                    {{ item.name }}
                </div>
                <div class="description">
                    {{ item.description }}
                </div>
                <div class="responsibilities">
                    <p><b>Responsibilities:</b></p>
                    <ul>
                        {% for item in item.responsibilities %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

    <h2>
        My Photos
    </h2>
    <a href="https://unsplash.com/@naruaika" class="button">&raquo; View all my shots</a>
    <div class="grid non-square">
        <img src="/assets/works/naufan-rusyda-faikar-lvTcQ5P_t50-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-jb3KUwGrzFY-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-33szSvt_PNg-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-3vCEd_4U8Ow-unsplash.webp" alt="" loading="lazy">

        <img src="/assets/works/naufan-rusyda-faikar--xcshK9Qwe4-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-N2v_SVlVLpE-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-jNTglBHJKuI-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-IjmhOHghpeU-unsplash.webp" alt="" loading="lazy">

        <img src="/assets/works/naufan-rusyda-faikar-fnjScdIRZos-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-K0ndNGffjv8-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-oqRZpktI3oA-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-CuIcxGk8ujI-unsplash.webp" alt="" loading="lazy">

        <img src="/assets/works/naufan-rusyda-faikar-7VM2deooAdM-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-f4RV8Qlvg8Q-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-ZLWdEUzg25M-unsplash.webp" alt="" loading="lazy">
        <img src="/assets/works/naufan-rusyda-faikar-KwwTr6p1HVo-unsplash.webp" alt="" loading="lazy">
    </div>

    <h2>
        My Posters
    </h2>
    <div class="grid square">
        <img src="/assets/works/ef5f0a2a76638e9abaea0bb0dfa1c774.webp" alt="" loading="lazy">
        <img src="/assets/works/6e64a8cccf39d28fc4f3134a1d861457.webp" alt="" loading="lazy">
        <img src="/assets/works/b064dc73682b095405fae0f3eeb3ad2d.webp" alt="" loading="lazy">
        <img src="/assets/works/f4d2314ec0a67cdaae713b1234ac4325.webp" alt="" loading="lazy">

        <img src="/assets/works/feb998ea36ed324249fc6654f08231bc.webp" alt="" loading="lazy">
        <img src="/assets/works/4072a91c9a1faca37470376c5333e0bd.webp" alt="" loading="lazy">
        <div class="slider">
            <div class="content">
                <img src="/assets/works/20241010C - S1.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010C - S2.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010C - S3.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010C - S4.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010C - S5.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010C - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/works/20241010B - S1.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010B - S2.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010B - S3.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010B - S4.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010B - S5.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010B - S6.webp" alt="" loading="lazy">
            </div>
        </div>

        <div class="slider">
            <div class="content">
                <img src="/assets/works/20241010A - S1.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010A - S2.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010A - S3.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010A - S4.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010A - S5.webp" alt="" loading="lazy">
                <img src="/assets/works/20241010A - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/works/20241007C - S1.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007C - S2.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007C - S3.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007C - S4.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007C - S5.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007C - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/works/20241007B - S1.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007B - S2.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007B - S3.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007B - S4.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007B - S5.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007B - S6.webp" alt="" loading="lazy">
            </div>
        </div>
        <div class="slider">
            <div class="content">
                <img src="/assets/works/20241007A - S1.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007A - S2.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007A - S3.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007A - S4.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007A - S5.webp" alt="" loading="lazy">
                <img src="/assets/works/20241007A - S6.webp" alt="" loading="lazy">
            </div>
        </div>
    </div>
</main>

<script>
    /**
     * Initialize image carousels
     */

    // Create next button
    let nextButton = document.createElement('div');
    nextButton.classList.add('icon', 'next-button');
    nextButton.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>`;

    // Create previous button
    let arrowLeft = document.createElement('div');
    arrowLeft.classList.add('icon', 'previous-button');
    arrowLeft.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>`;

    document.querySelectorAll('.slider').forEach(slider => {
        // Append next button
        const aR = nextButton.cloneNode(true);
        aR.addEventListener('click', event => {
            const container = slider.querySelector('.content');
            let position = parseInt(container.dataset.position) || 0;
            position = (position + 1) % container.children.length;
            container.scrollLeft = (container.scrollWidth / container.children.length) * position;
            container.dataset.position = position;
        });
        slider.append(aR);

        // Append previous button
        const aL = arrowLeft.cloneNode(true);
        aL.addEventListener('click', event => {
            const container = slider.querySelector('.content');
            let position = parseInt(container.dataset.position) || 0;
            position = (((position - 1) % container.children.length) + container.children.length) % container.children.length;
            container.scrollLeft = (container.scrollWidth / container.children.length) * position;
            container.dataset.position = position;
        });
        slider.append(aL);

        // TODO: add scrollsnapchange event listener
        slider.querySelector('.content').addEventListener('scrollsnapchange', () => {});

        // Reset scroll position
        slider.querySelector('.content').scrollLeft = 0;
        slider.querySelector('.content').dataset.position = 0;
    });
</script>